* {
    margin: 0%;

}

.Contact_form {
    padding-top: 120px;
    width: 1200px;
    margin: 0 auto;

}

.Contact_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;

    font-family: Arima;
    font-style: Bold;
    font-size: 18px;
    line-height: 120%;

    color: rgba(78, 164, 135, 1);
}

.Contact_row>img {

    width: 48px;
    height: 48px;
}

.Contact_form>h1 {
    margin-bottom: 24px;

}

.sub_lines {
    font-family: Palanquin;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    text-align: center;
}


.questions-container {

    padding: 50px 30px 0px 30px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin: 0 auto;
}

/* పక్కపక్కన రావడం కోసం Flexbox */
.question-row {
    display: flex;
    gap: 40px;
    /* నేమ్, ఈమెయిల్ మధ్య ఖాళీ */

}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;

    /* color: #333; */
    margin-bottom: 25px;
    /* టెక్స్ట్ కి, కింద గీతకి మధ్య ఖాళీ */
}


/* బోర్డర్స్ తీసేసి కేవలం కింది గీత మాత్రమే ఉంచడం */
input {
    border: none;
    border-bottom: 1.5px solid #a8a095;
    /* లైన్ కలర్ */
    outline: none;
    background: transparent;
    font-size: 16px;
    padding-bottom: 8px;
}

/* టైప్ చేసేటప్పుడు డార్క్ లైన్ రావడానికి */
input:focus {
    border-bottom-color: #000;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 40px;

}

.privacy-checkbox {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: #5a4e40;
}

.bottom-section>img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

}